[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
django-debug-toolbar = "*"
channels = "*"
channels-redis = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
channels-postgres = "*"

[dev-packages]

[requires]
python_version = "3.9"
